.red {
	color: red;
}

.header {
	font-size: 32px;
}

.title {
	color: green;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}

/* .title {
	color: green;
	composes: blue from './color.css';
	composes: red;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
} */